// ==========================================================================
// Controls
// ==========================================================================

/*doc
---
title: Control
name: control
category: forms
---

Controls set the position and margins of labels and inputs inside.

```html_example
<div class="control">
    <label class="label" for="a">Label item</label>
    <input class="input" id="a">
</div>
```
*/

@import "~mep-tools.rem-calc";

.control {
    margin-bottom: rem-calc(20);
}

/*doc
---
title: Inline Control
name: control_inline
category: forms
parent: control
---

Inline controls are used for forms with single inputs

```html_example
<div class="control control--inline">
    <label class="is--hidden" for="email">Email address</label>
    <input class="input input--inline" placeholder="Email address" id="email">
    <input type="submit" value="&raquo;" class="btn btn--pink btn--inline">
</div>
```
*/

.control--inline {
    position: relative;

    *[type="submit"] {
        position: absolute;
        top: rem-calc(20);
        right: 0;
    }
}
